# =========================
# Node modules
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Runtime files
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Build / dist
# =========================
dist/
build/

# =========================
# Optional local data
# (agar users.json GitHubga chiqmasin desangiz)
# =========================
users.json
